# Banco de dados
DATABASE_URL=postgresql+asyncpg://raizes:raizesnordeste@localhost:5432/raizes_nordeste

# Configurações de ambiente
DEBUG=true
ENVIROMENT=development

# Segurança
JWT_SECRET_KEY=chave-exemplo